
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Administration panel</h1>
</div>

<div>
    <a class="nav-link text-dark" asp-controller="CatalogueAdmin" asp-action="Index">Catalogue administration</a>
    <a class="nav-link text-dark" asp-controller="CatalogueAdmin" asp-action="UpdateCatalogue">Catalogue Update</a>
</div>

