@model IEnumerable<SAP.ViewModels.Catalogue.CategoryViewModel>

@if (Model != null)
{
    <ul>
        @foreach (var node in Model)
        {
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="CatalogueAdmin" asp-action="Node" asp-route-id="@node.Id">@node.Name</a>
                @(await Html.PartialAsync("CatalogueNode", node.Childs))
            </li>
        }
    </ul>
}
