@{
    ViewData["Title"] = "Catalogue Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Catalogue Update</h1>
</div>

<div>
     <ul>
         <li>
             <a class="nav-link text-dark" asp-controller="CatalogueAdmin" asp-action="UpdateCatalogueOperation">Update from file</a>
         </li>
     </ul>
</div>